* {
    padding: 0;
    margin: 0;
    font-family: sans-serif !important;

}
button{
    cursor: pointer;
}
.baner-p {


    background-image: url(imagens/HERO\ BACKGROUND\ \(1\).svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
}

.menu-p {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;

}

.menu-p  a {
    text-decoration: none;
    color: aliceblue;
    margin: 30px 10px;
}

.baner-p a:hover {
    border-bottom: 3px solid #FFDD33;
}

.menu-n {

    width: 100%;
    display: flex;

    justify-content: right;
}

.cont {
    background-color: #0F3FD3;
    padding: 10px;
    border-radius: 10px;

}

.cont:hover {
    border-bottom: none !important;
}

/*Código dos titulos 1 e 2*/
.titulos-p .titulo-1 {
    margin-top: 50px;
    color: white;
    font-size: 26px;
    text-align: center;


    font: normal normal normal 54px/65px Raleway;
}

.titulos-p .titulo-2 {
    padding-top: 10px;
    color: white;
    text-align: center;
    font: normal normal normal 20px/24px Raleway;
    font-weight: lighter;
}

/*Fim do código titulos 1 e 2*/

/*Começo noteboock*/
.noteboock-p {
    
   display: flex;


    justify-content: center;

    padding-top: 40px;
}

/*Fim noteboock*/

/*Começo das marcas*/

.marcas-p{
display: flex;
justify-content: center;
align-items: center;

height: 300px;
}

.marcas-p img{
    height: 110px;
}

.marcas-p :hover{
    border-bottom: none !important;

}
/*Fim das marcas*/

/*Seção de porque nós*/ 
.porque-p{
    height: 880px;
    background-color: #FBFCFE ;
    margin-bottom: -150px;

    color: #040404;
    text-align: center;
}

.titulo-3 {
   padding-top: 40px;
   font-size: 64px;


}

.titulo-4{

    color: #7E92AC;

}

/*motivos div*/
.motivos-i{
    display: flex;
    justify-content: center;

}
.motivos-p{
    width: 536px;
    height: auto;

    background-color: #FFFFFF;
    text-align: left;

    width: 406px;
    box-shadow: 0px 20px 40px #2426721C;
    margin: 10px;
    padding: 10px;

    border-radius: 20px;
}
.motivos-p p{
    color: #7E92AC;

    line-height: 25px;
}
/*fim motivos div*/

/*Começo do começar projeto*/
.comecar-p{
    background-image: url(imagens/BANNER\ IMG.svg);
    height: 432px;
    
    display: flex;
    align-items: center ;


}
.centralizarDiv{
    margin: 0 auto;
}
.titulo-5{
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
}
.titulo-6{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: lighter;
    margin: 20px auto;
}
.comecar-p form{
    display: flex;
    justify-content: center;
}
.comecar-p button{
    background-color: #FFDD33;
    color: #0F3FD3;
    border-radius: 15px;
    width: 332px;
    height: 68px;

    font-size: 20px;
    font-weight: bolder;

    border: none;



}
/*Fim do começar projeto*/

/*Fim seção de porque nós*/

/*Começo de beneficios*/
.beneficios-p{
    display: flex;
    height: 583px;
    justify-content: center;
    align-items: center;

    border: solid black 2px;
}
.letreiro-s{
    display: flex;
    align-items: center !important;
    margin-left:-30px !important ;

    max-width: 536px;
    max-height: 43px;

}
.letreiro-i{
    height: 218px;
}

.letreiro{
    max-width: 636px;
margin: 0 auto;
}




.letreiro-s p{
    color: #7E92AC;
    font-size: 16px;
    text-align: left;
    

    
}

.beneficios-s form{
    display: flex;
    justify-content: flex-start;
}
.beneficios-s button{
    background-color: #255AFF;
    width: 332px;
    height: 68px;
    font-size: 20px;
    color: #FFFFFF;

    border-radius: 10px;
    border: none;
}

.imagem img{
    width: 812px;
height: 583px;

}
/*Fim de beneficios*/